<!DOCTYPE html>
<html>
    <head>
        <title>루틴즈</title>
        <link rel="stylesheet" href ="/home/home_style.css">
        <meta charset= 'utf-8'>
        <script src = '/routine/new_routine.js' defer></script>
    </head>
    <body>
        <header>
            <h1><a id = 'main_link' href = '/'>YWR<div id = 'h1_title'>Your Workout Routine</div></a></h1>
        </header>

        <h2 id = 'login_bar'>
            <a href="/routine" id="login_link">Routine</a>
        </h2>

        <form>
            <input type="button" id = 'save' value ='Save'>
        </form>
        <br>
        <form>
            <textarea placeholder="Topic" id ='topic' style = "width: 200px; height: 20px;"></textarea> <br>
            <textarea placeholder="Write your Routine" id = 'article' style=" margin-top:10px; width: 450px; height: 180px;"></textarea>
        </form>


     </body>


</html>