<!DOCTYPE html>
<html>
    <head>
    <title>
        루틴즈 로그인
    </title>
    <meta charset = 'utf-8'>
    <link rel = 'stylesheet' href = '/login/login_style.css'>
    <script src = '/login/register.js' defer></script>
    </head>

    <body>

        <main id="main-holder">
            <h1 id="login-header"><a id = 'main_back' href = '/'>YWR</a>
            </h1>

            <form id="login-form">
                <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
                <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
                <input type="password" name="password" id="confirm-password-field" class="login-form-field" placeholder="Confirm-Password">
                <input type="button" value="Sign Up" id="signup-form-submit">
            </form>

            
                <p class="message">Already registered? <a id = 'cacount'href="/login">Login</a></p>
            

        </main>


    </body>



</html>