<!DOCTYPE html>
<html>
    <head>
        <title>루틴즈</title>
        <link rel="stylesheet" href ="/home/home_style.css">
        <meta charset= 'utf-8'>
        <script src = '/routine/routine.js' defer></script>
    </head>
    <body>
        <header>
            <h1><a id = 'main_link' href = '/'>YWR<div id = 'h1_title'>Your Workout Routine</div></a></h1>
        </header>

        <h2 id = 'login_bar'>
            <a href="/routine" id="login_link">Routine</a>
        </h2>

        <form>
            <input type="button"  value ='New' onclick="location.href='/routine/new'">

        </form>

        
        <p id="topic_list" style = 'color: white;'></p>
        


     </body>


</html>